/*--- page ---*/

body {
	padding: 0;
	margin: 0;
	background: #84d4ea; 
}

/*--- navigation bar ---*/

.navbar {
	background: #0f75a4;
    position: fixed;
    width: 100%;
    z-index:1;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	font-weight:bold;
    color: #fff;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-brand:hover {
	font-weight:bold;
    color: #fff;
}

/*--- header ---*/

.description {
	text-align: center;
    height: auto;
    padding: 4rem;
}

.description h1 {
	color: #0f75a4;
}

.description p {
	color: rgb(2, 2, 2);
	font-size: 1.3rem;
	line-height: 1.5;
}

/*--- feature section ---*/

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
    max-width: 200px;
    height: 200px;
}


html {
  scroll-padding-top: 3.5rem;
}

header {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  max-width: 90%;
}

.sketch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
  height: auto;
}

.icon-and-title {
  width: 90%;
  margin-top: 2 rem;
}

.icon {
  display: inline-block;
  width: 8%;
}

.title-content {
  display: inline-block;
  width: 82%;
}


.bottom-space {
  margin-bottom: 3cm;
}



/* First the Grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #0f75a4;
  color: #d9d9d9;
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: 70%;
  object-fit: cover;
}
